{%- assign sidequests = site.data.sidequests.items -%}

{%- if include.limit and sidequests.size > include.limit -%}
  {%- assign limit_exceeded = true -%}
{%- else -%}
  {%- assign limit_exceeded = false -%}
{%- endif -%}

{%- if sidequests.size > 0 -%}
  <ul class="projects-list">
    {%- for sidequest in sidequests limit: include.limit -%}
      <li class="project-item">
        <span class="project-number">{{ sidequest.number }}</span>
        {{ sidequest.title }}
      </li>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%}
  </ul>
{%- else -%}
  <p class="empty-list">Nothing here yet.</p>
{%- endif -%}
